[user]
	email = ody55eus@mailbox.org
	name = Jonathan Pieper
	signingkey = 2361DFC839413E7A84B2152B01B6FB927AAEC59B
[commit]
	gpgsign = true
[gpg]
	program = gpg
[init]
	defaultBranch = main
[gitlab "gitlab.ody5.de/api/v4"]
	user = ody55eus
[pull]
	rebase = false
	ff = only
[core]
	excludesfile = ~/.config/git/ignore
	attributesfile = ~/.config/git/attributes
	pager = nvim -R
	sshCommand = ssh
[diff]
	tool = ediff
	guitool = ediff
[merge]
	tool = ediff
[diff "lisp"]
	xfuncname = "^(\\(.*)$"
[diff "org"]
	xfuncname = "^(\\*+ +.*)$"
[diff "scheme"]
	xfuncname = "^(\\(define.*)$"
[diff "texinfo"]
	xfuncname = "^@node[[:space:]]+([^,]+).*$"
[difftool "ediff"]
	cmd = ~/.local/bin/ediff.sh $LOCAL $REMOTE $MERGED
[merge]
	tool = ediff
[mergetool "ediff"]
	cmd = ~/.local/bin/ediff.sh $LOCAL $REMOTE $MERGED $BASE
	trueExitCode = true
[color]
	pager = no
[safe]
	directory = /home/jpi/share/org
	directory = /home/jpi/share/notes
	directory = /home/jpi/share/notes/ZK
	directory = /home/jpi/share/Projects/Code/01_2fa_demo
	directory = /home/jpi/share/Projects/Doc/frontdesk-documentation
	directory = /home/jpi/share/Projects/Code/frontdesk
	directory = /home/jpi/share/Projects/Code/guix
	directory = /home/jpi/share/Projects/Code/control-panel
	directory = /home/jp/share/org
	directory = /home/jp/share/notes
	directory = /home/jp/share/notes/ZK
	directory = /home/jp/share/Projects/Code/01_2fa_demo
	directory = /home/jp/share/Projects/Doc/frontdesk-documentation
	directory = /home/jp/share/Projects/Code/frontdesk
	directory = /home/jp/share/Projects/Code/guix
	directory = /home/jp/share/Projects/Code/control-panel
